
body{

    background: url("/image/12.jpg") ;

    background-color: rgba(134, 153, 180, 0.6);
    background-size: 100%;
    height: 100vh;

}
.card{
    color: white;
    background-color: #27272f;;
}
.forgot_button{
    float: right;
}
.form_input{
    background-color: #3a3a46;
    color: #898995;
    border: none;

}

.login_group_button{
    width: 32%;
}
.dropdown-menu{
    background-color: #3a3a46;!important;
}


